<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loyaltri">
  <test thread-count="5" name="Loyaltri">
    <classes>
      <class name="Testcases_Masters.Country"/>
      <class name="Company.AllEmployees"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
